# Wrangling honey dataset of United States

#### Annually USDA publishes data related to honeybee production in its website. But the published report are in separate pdf or txt formats. Today, I am playing with those published reports trying to obtain a fully clean datasets

Download reports of each year from 1996 to 2022 from here: 

https://usda.library.cornell.edu/concern/publications/hd76s004z?locale=en&page=3#release-items

##### alternatively, these files can be downloaded from my github repo also

## Don't forget to provide feedbacks as it is my first notebook on kaggle !

In each .txt files too much unwanted information is present. So , first of all we need to extract only tabular data present in certain lines.
Unfortunately, required tabular data containing state name, yield, number of colony, etc are present in different line number in different text files.
So we need to determine the line number from which required data starts and ends. Those number are used while defining function to clean the data.

## Defining a function to convert downloaded txt files into a pandas dataframe

In [90]:
def data_cleaner(file,year,start,end):
    import pandas as pd
        
    with open(file) as f:
        full_content = f.readlines()
        # retrieving useful lines only
        content = full_content[start:end]
        
        my_contents = []
        for i in content:
            j = "#".join(i.split())
            my_contents.append(j)

        # converting list into dataframe
        df = pd.DataFrame(my_contents)
        splitted = df[0].str.split("#",expand=True)
        
        # dropping unwanted column
        df1 = splitted.drop(1, axis=1)

        # assigning labels to column
        headings = ['state','colonies_number','yield_per_colony','production','stocks','average_price','value_of_production']
        df1.columns = headings
        
        # adding new column year
        df1["year"] = pd.Series([year for x in range(len(df1.index))])

        # saving dataframe as csv file
        df1.to_csv(f'{year}.csv')  
        
        #returning shape of the final dataframe
        print(df1.shape)

In [37]:
data_cleaner('1996.txt',1995,133,177)

(44, 8)

In [36]:
data_cleaner('1997.txt',1996,136,180)

(44, 8)

In [35]:
data_cleaner('1998.txt',1997,145,188)

(43, 8)

In [39]:
data_cleaner('1999.txt',1998,150,193)

(43, 8)

In [40]:
data_cleaner('2000.txt',1999,143,186)

(43, 8)

In [41]:
data_cleaner('2001.txt',2000,147,190)

(43, 8)

In [42]:
data_cleaner('2002.txt',2001,153,196)

(43, 8)

In [44]:
data_cleaner('2003.txt',2002,152,196)

(44, 8)

In [45]:
data_cleaner('2004.txt',2003,158,202)

(44, 8)

In [46]:
data_cleaner('2005.txt',2004,155,195)

(40, 8)

In [47]:
data_cleaner('2006.txt',2005,158,199)

(41, 8)

In [48]:
data_cleaner('2007.txt',2006,153,194)

(41, 8)

In [49]:
data_cleaner('2008.txt',2007,140,181)

(41, 8)

In [50]:
data_cleaner('2009.txt',2008,143,184)

(41, 8)

In [51]:
data_cleaner('2010.txt',2009,141,182)

(41, 8)

## combining downloaded csv files into single csv file

In [91]:
csv_files = ['1995.csv','1996.csv','1997.csv','1998.csv','1999.csv','2000.csv','2001.csv','2002.csv','2003.csv','2004.csv','2005.csv','2006.csv','2007.csv','2008.csv','2009.csv']

In [92]:
len(csv_files)

15

In [93]:
headings = ['state','colonies_number','yield_per_colony','production','stocks','average_price','value_of_production']
df_combined = pd.DataFrame(columns = headings)

for i in csv_files:
    variable = "df"+i[0:4]
    combined.append(variable)
#     print(variable)
    variable = pd.read_csv(i)
#     print(variable)
    df_combined = df_combined.append(variable)

# print(combined)

print(df_combined)

   state colonies_number yield_per_colony production stocks average_price  \
0     AL              16               58        928     28            62
1     AZ              52               79      4,108    986            68
2     AR              50               60      3,000    900            64
3     CA             420               93     39,060  4,687            60
4     CO              45               60      2,700  1,404            68
..   ...             ...              ...        ...    ...           ...
36    VA               6               39        234     56           328
37    WA              62               44      2,728  1,064           149
38    WV               5               37        185     33           267
39    WI              63               60      3,780  1,588           151
40    WY              37               48      1,776    391           143

   value_of_production  Unnamed: 0    year
0                  575         0.0  1995.0
1                2,793         1.0  1995.0
2                1,920         2.0  1995.0
3               23,436         3.0  1995.0
4                1,836         4.0  1995.0
..                 ...         ...     ...
36                 768        36.0  2009.0
37               4,065        37.0  2009.0
38                 494        38.0  2009.0
39               5,708        39.0  2009.0
40               2,540        40.0  2009.0

[636 rows x 9 columns]

/tmp/ipykernel_9164/2653401489.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_combined = df_combined.append(variable)
/tmp/ipykernel_9164/2653401489.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_combined = df_combined.append(variable)
/tmp/ipykernel_9164/2653401489.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_combined = df_combined.append(variable)
/tmp/ipykernel_9164/2653401489.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_combined = df_combined.append(variable)
/tmp/ipykernel_9164/2653401489.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_combined = df_combined.append(variable)
/tmp/ipykernel_9164/2653401489.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_combined = df_combined.append(variable)
/tmp/ipykernel_9164/2653401489.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_combined = df_combined.append(variable)
/tmp/ipykernel_9164/2653401489.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_combined = df_combined.append(variable)
/tmp/ipykernel_9164/2653401489.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_combined = df_combined.append(variable)
/tmp/ipykernel_9164/2653401489.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_combined = df_combined.append(variable)
/tmp/ipykernel_9164/2653401489.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_combined = df_combined.append(variable)
/tmp/ipykernel_9164/2653401489.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_combined = df_combined.append(variable)
/tmp/ipykernel_9164/2653401489.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_combined = df_combined.append(variable)
/tmp/ipykernel_9164/2653401489.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_combined = df_combined.append(variable)
/tmp/ipykernel_9164/2653401489.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_combined = df_combined.append(variable)

In [94]:
df_combined.shape

(636, 9)

In [95]:
df_combined.columns

Index(['state', 'colonies_number', 'yield_per_colony', 'production', 'stocks',
       'average_price', 'value_of_production', 'Unnamed: 0', 'year'],
      dtype='object')

In [96]:
df_combined['Unnamed: 0'].info()

<class 'pandas.core.series.Series'>
Int64Index: 636 entries, 0 to 40
Series name: Unnamed: 0
Non-Null Count  Dtype
--------------  -----
636 non-null    float64
dtypes: float64(1)
memory usage: 9.9 KB

##### removing unwanted column:

In [97]:
df_combined.drop(['Unnamed: 0'],axis=1,inplace=True)

In [98]:
df_combined

,state,colonies_number,yield_per_colony,production,stocks,average_price,value_of_production,year
0,AL,16,58,928,28,62,575,1995.0
1,AZ,52,79,"4,108",986,68,"2,793",1995.0
2,AR,50,60,"3,000",900,64,"1,920",1995.0
3,CA,420,93,"39,060","4,687",60,"23,436",1995.0
4,CO,45,60,"2,700","1,404",68,"1,836",1995.0
...,...,...,...,...,...,...,...,...
36,VA,6,39,234,56,328,768,2009.0
37,WA,62,44,"2,728","1,064",149,"4,065",2009.0
38,WV,5,37,185,33,267,494,2009.0
39,WI,63,60,"3,780","1,588",151,"5,708",2009.0
40,WY,37,48,"1,776",391,143,"2,540",2009.0

In [99]:
df_combined.dtypes

state                   object
colonies_number         object
yield_per_colony        object
production              object
stocks                  object
average_price           object
value_of_production     object
year                   float64
dtype: object

In [88]:
df_combined['year'] = df_combined['year'].astype(str)

In [89]:
df_combined

,state,colonies_number,yield_per_colony,production,stocks,average_price,value_of_production,year
0,AL,16,58,928,28,62,575,1995.0
1,AZ,52,79,"4,108",986,68,"2,793",1995.0
2,AR,50,60,"3,000",900,64,"1,920",1995.0
3,CA,420,93,"39,060","4,687",60,"23,436",1995.0
4,CO,45,60,"2,700","1,404",68,"1,836",1995.0
...,...,...,...,...,...,...,...,...
36,VA,6,39,234,56,328,768,2009.0
37,WA,62,44,"2,728","1,064",149,"4,065",2009.0
38,WV,5,37,185,33,267,494,2009.0
39,WI,63,60,"3,780","1,588",151,"5,708",2009.0
40,WY,37,48,"1,776",391,143,"2,540",2009.0

In [111]:
df_combined['year'] = pd.to_numeric(df_combined['year'],downcast='integer')

In [113]:
df_combined['year'] = df_combined['year'].astype(str)

In [114]:
df_combined.dtypes

state                  object
colonies_number        object
yield_per_colony       object
production             object
stocks                 object
average_price          object
value_of_production    object
year                   object
dtype: object

In [117]:
df_combined.columns[1]

'colonies_number'

In [116]:
df_combined[df_combined.columns[1]]

0      16
1      52
2      50
3     420
4      45
     ...
36      6
37     62
38      5
39     63
40     37
Name: colonies_number, Length: 636, dtype: object

##### converting datatypes of the columns :

In [118]:
 df_combined[df_combined.columns[1]] = pd.to_numeric(df_combined[df_combined.columns[1]],downcast='integer')

In [119]:
 df_combined[df_combined.columns[2]] = pd.to_numeric(df_combined[df_combined.columns[2]],downcast='integer')

In [125]:
df_combined[df_combined.columns[3]] = df_combined[df_combined.columns[3]].str.replace(',', '').astype('int64')

In [126]:
df_combined[df_combined.columns[4]] = df_combined[df_combined.columns[4]].str.replace(',', '').astype('int64')

In [128]:
 df_combined[df_combined.columns[5]] = pd.to_numeric(df_combined[df_combined.columns[5]],downcast='integer')

In [129]:
df_combined[df_combined.columns[6]] = df_combined[df_combined.columns[6]].str.replace(',', '').astype('int64')

In [130]:
df_combined

,state,colonies_number,yield_per_colony,production,stocks,average_price,value_of_production,year
0,AL,16,58,928,28,62,575,1995
1,AZ,52,79,4108,986,68,2793,1995
2,AR,50,60,3000,900,64,1920,1995
3,CA,420,93,39060,4687,60,23436,1995
4,CO,45,60,2700,1404,68,1836,1995
...,...,...,...,...,...,...,...,...
36,VA,6,39,234,56,328,768,2009
37,WA,62,44,2728,1064,149,4065,2009
38,WV,5,37,185,33,267,494,2009
39,WI,63,60,3780,1588,151,5708,2009
40,WY,37,48,1776,391,143,2540,2009

In [131]:
df_combined.dtypes

state                  object
colonies_number         int16
yield_per_colony        int16
production              int64
stocks                  int64
average_price           int16
value_of_production     int64
year                   object
dtype: object

##### multiplying colonies_number, production, stocks and value_of_production by 1,000 to get exact value

In [133]:
df_combined[df_combined.columns[1]] = df_combined[df_combined.columns[1]].apply(lambda x: x*1000)

In [134]:
df_combined[df_combined.columns[3]] = df_combined[df_combined.columns[3]].apply(lambda x: x*1000)

In [135]:
df_combined[df_combined.columns[4]] = df_combined[df_combined.columns[4]].apply(lambda x: x*1000)

In [136]:
df_combined[df_combined.columns[6]] = df_combined[df_combined.columns[6]].apply(lambda x: x*1000)

In [137]:
df_combined

,state,colonies_number,yield_per_colony,production,stocks,average_price,value_of_production,year
0,AL,16000,58,928000,28000,62,575000,1995
1,AZ,52000,79,4108000,986000,68,2793000,1995
2,AR,50000,60,3000000,900000,64,1920000,1995
3,CA,420000,93,39060000,4687000,60,23436000,1995
4,CO,45000,60,2700000,1404000,68,1836000,1995
...,...,...,...,...,...,...,...,...
36,VA,6000,39,234000,56000,328,768000,2009
37,WA,62000,44,2728000,1064000,149,4065000,2009
38,WV,5000,37,185000,33000,267,494000,2009
39,WI,63000,60,3780000,1588000,151,5708000,2009
40,WY,37000,48,1776000,391000,143,2540000,2009

### as we have clean data from 2009 to 2021 in kaggle already, let's combine this dataframe with that dataset

link to the kaggle dataset: https://www.kaggle.com/datasets/mohitpoudel/honey-production-in-us-20102021

In [139]:
# downloading kaggle dataset:
downloaded_data = pd.read_csv("US_honey_production_dataset.csv")

In [140]:
downloaded_data

,Unnamed: 0,state,colony_number,yield_per_colony,productions,stocks,average_price,value_of_prod,year
0,0,Alabama,9000,54,73000,73000,240.00,1166000,2010
1,1,Arizona,24000,77,665000,665000,152.00,2809000,2010
2,2,Arkansas,25000,60,360000,360000,147.00,2205000,2010
3,3,California,410000,67,6318000,6318000,155.00,42579000,2010
4,4,Colorado,34000,56,533000,533000,152.00,2894000,2010
...,...,...,...,...,...,...,...,...,...
474,474,Virginia,6000,40,79000,79000,8.23,1975000,2021
475,475,Washington,96000,32,1206000,1206000,2.52,7741000,2021
476,476,WestVirginia,6000,43,136000,136000,4.80,1238000,2021
477,477,Wisconsin,42000,47,750000,750000,2.81,5547000,2021
478,478,Wyoming,38000,58,242000,242000,2.07,4562000,2021

In [141]:
downloaded_data.drop("Unnamed: 0",axis = 1,inplace = True)

In [142]:
downloaded_data

,state,colony_number,yield_per_colony,productions,stocks,average_price,value_of_prod,year
0,Alabama,9000,54,73000,73000,240.00,1166000,2010
1,Arizona,24000,77,665000,665000,152.00,2809000,2010
2,Arkansas,25000,60,360000,360000,147.00,2205000,2010
3,California,410000,67,6318000,6318000,155.00,42579000,2010
4,Colorado,34000,56,533000,533000,152.00,2894000,2010
...,...,...,...,...,...,...,...,...
474,Virginia,6000,40,79000,79000,8.23,1975000,2021
475,Washington,96000,32,1206000,1206000,2.52,7741000,2021
476,WestVirginia,6000,43,136000,136000,4.80,1238000,2021
477,Wisconsin,42000,47,750000,750000,2.81,5547000,2021
478,Wyoming,38000,58,242000,242000,2.07,4562000,2021

In [143]:
# let's have a look at column names of both dataset

In [147]:
df_combined.columns

Index(['state', 'colonies_number', 'yield_per_colony', 'production', 'stocks',
       'average_price', 'value_of_production', 'year'],
      dtype='object')

In [149]:
downloaded_data.columns

Index(['state', 'colony_number', 'yield_per_colony', 'productions', 'stocks',
       'average_price', 'value_of_prod', 'year'],
      dtype='object')

In [148]:
downloaded_data.columns == df_combined.columns

array([ True, False,  True, False,  True,  True, False,  True])

#### making column names same

In [150]:
downloaded_data.columns = df_combined.columns

### converting abbreviations in 'state' column to their full form

In [154]:
print(df_combined['state'].unique())

['AL' 'AZ' 'AR' 'CA' 'CO' 'FL' 'GA' 'HI' 'ID' 'IL' 'IN' 'IA' 'KS' 'KY'
 'LA' 'ME' 'MD' 'MI' 'MN' 'MS' 'MO' 'MT' 'NE' 'NV' 'NJ' 'NM' 'NY' 'NC'
 'ND' 'OH' 'OK' 'OR' 'PA' 'SC' 'SD' 'TN' 'TX' 'UT' 'VT' 'VA' 'WA' 'WV'
 'WI' 'WY']

In [155]:
print(downloaded_data['state'].unique())

['Alabama' 'Arizona' 'Arkansas' 'California' 'Colorado' 'Florida'
 'Georgia' 'Hawaii' 'Idaho' 'Illinois' 'Indiana' 'Iowa' 'Kansas'
 'Kentucky' 'Louisiana' 'Maine' 'Michigan' 'Minnesota' 'Mississippi'
 'Missouri' 'Montana' 'Nebraska' 'NewJersey' 'NewMexico' 'NewYork'
 'NorthCarolina' 'NorthDakota' 'Ohio' 'Oregon' 'Pennsylvania'
 'SouthDakota' 'Tennessee' 'Texas' 'Utah' 'Vermont' 'Virginia'
 'Washington' 'WestVirginia' 'Wisconsin' 'Wyoming' 'SouthCarolina']

In [160]:
len(df_combined['state'].unique())

44

In [162]:
len(downloaded_data['state'].unique())

41

In [165]:
US_states = {'AL':'Alabama', 'AZ':'Arizona', 'AR':'Arkansas', 'CA':'California', 'CO':'Colorado', 'FL':'Florida',
            'GA':'Georgia', 'HI':'Hawaii', 'ID':'Idaho', 'IL':'Illinois', 'IN':'Indiana', 'IA':'Iowa', 'KS':'Kansas',
            'KY':'Kentucky', 'LA':'Louisiana', 'ME':'Maine', 'MD':'Maryland', 'MI':'Michigan', 'MN':'Minnesota',
            'MS':'Mississippi','MO':'Missouri', 'MT':'Montana', 'NE':'Nebraska', 'NV':'Nevada', 'NJ':'NewJersey',
            'NM':'NewMexico', 'NY':'NewYork', 'NC':'NorthCarolina', 'ND':'NorthDakota', 'OH':'Ohio', 'OK':'Oklahoma',
            'OR':'Oregon', 'PA':'Pennsylvania', 'SC':'SouthCarolina', 'SD':'SouthDakota', 'TN':'Tennessee', 'TX':'Texas',
            'UT':'Utah', 'VT':'Vermont','VA':'Virginia','WA':'Washington','WV':'WestVirginia','WI':'Wisconsin','WY':'Wyoming'}

In [166]:
len(US_states)

44

In [167]:
df_combined['state'] = df_combined['state'].replace(US_states)

In [168]:
df_combined

,state,colonies_number,yield_per_colony,production,stocks,average_price,value_of_production,year
0,Alabama,16000,58,928000,28000,62,575000,1995
1,Arizona,52000,79,4108000,986000,68,2793000,1995
2,Arkansas,50000,60,3000000,900000,64,1920000,1995
3,California,420000,93,39060000,4687000,60,23436000,1995
4,Colorado,45000,60,2700000,1404000,68,1836000,1995
...,...,...,...,...,...,...,...,...
36,Virginia,6000,39,234000,56000,328,768000,2009
37,Washington,62000,44,2728000,1064000,149,4065000,2009
38,WestVirginia,5000,37,185000,33000,267,494000,2009
39,Wisconsin,63000,60,3780000,1588000,151,5708000,2009
40,Wyoming,37000,48,1776000,391000,143,2540000,2009

In [170]:
my_df = pd.concat([df_combined,downloaded_data])

In [171]:
my_df

,state,colonies_number,yield_per_colony,production,stocks,average_price,value_of_production,year
0,Alabama,16000,58,928000,28000,62.00,575000,1995
1,Arizona,52000,79,4108000,986000,68.00,2793000,1995
2,Arkansas,50000,60,3000000,900000,64.00,1920000,1995
3,California,420000,93,39060000,4687000,60.00,23436000,1995
4,Colorado,45000,60,2700000,1404000,68.00,1836000,1995
...,...,...,...,...,...,...,...,...
474,Virginia,6000,40,79000,79000,8.23,1975000,2021
475,Washington,96000,32,1206000,1206000,2.52,7741000,2021
476,WestVirginia,6000,43,136000,136000,4.80,1238000,2021
477,Wisconsin,42000,47,750000,750000,2.81,5547000,2021
478,Wyoming,38000,58,242000,242000,2.07,4562000,2021

In [173]:
my_df.state.unique()

array(['Alabama', 'Arizona', 'Arkansas', 'California', 'Colorado',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana',
       'Nebraska', 'Nevada', 'NewJersey', 'NewMexico', 'NewYork',
       'NorthCarolina', 'NorthDakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'SouthCarolina', 'SouthDakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'WestVirginia', 'Wisconsin', 'Wyoming'], dtype=object)

In [174]:
final_df = my_df.reset_index(drop=True)

In [175]:
final_df

,state,colonies_number,yield_per_colony,production,stocks,average_price,value_of_production,year
0,Alabama,16000,58,928000,28000,62.00,575000,1995
1,Arizona,52000,79,4108000,986000,68.00,2793000,1995
2,Arkansas,50000,60,3000000,900000,64.00,1920000,1995
3,California,420000,93,39060000,4687000,60.00,23436000,1995
4,Colorado,45000,60,2700000,1404000,68.00,1836000,1995
...,...,...,...,...,...,...,...,...
1110,Virginia,6000,40,79000,79000,8.23,1975000,2021
1111,Washington,96000,32,1206000,1206000,2.52,7741000,2021
1112,WestVirginia,6000,43,136000,136000,4.80,1238000,2021
1113,Wisconsin,42000,47,750000,750000,2.81,5547000,2021
1114,Wyoming,38000,58,242000,242000,2.07,4562000,2021

In [176]:
final_df.to_csv('US_honey_dataset_update.csv')

# THANK YOU